{% load static %}

<head>
    <meta charset="utf-8">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

</head>
<body>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
