 {% extends "base.html" %}

  {% block header %}

<form action="{% url 'edit' %}" method="POST">
{% csrf_token %}
    <div class="container">
         <div class="form-group" >

                <div>
              <input type="text" name="tagnames" id="tagnames" value="{{tagnames}}">
                </div>
         </div>
        <input class="btn btn-primary" type="submit" value="edit" />
    </div>
</form>

{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}
