{% block content %}

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" >githubstars</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li>

                     {% if user.is_authenticated %}

                       <form class="form-inline " action="{% url 'logout' %}" method="post">
                           {% csrf_token %}
                           Welcome {{ user.username }} !    <button class="btn btn-outline-warning" type="submit">Logout</button>
                       </form>

                   {% else %}
                           <a class="nav-link" href="{% url 'register' %}">Create Account</a>
                       <form class="form-inline" action="{% url 'authentificate' %}" method="post">

                        {% csrf_token %}
                           <input class="form-control" type="text" placeholder="username" aria-label="Username" name="username">
                           <input class="form-control" type="password" placeholder="password" aria-label="Password" name="password">
                           <button class="btn btn-outline-success" type="submit">Login</button>
                        </form>
                      {% endif %}
                </li>
            </ul>

          </div>

        </nav>
    </div>


{% endblock %}