{% extends "base.html" %}
{% load static %}
{% block header %}
    {% include "header.html" %}
{% endblock header %}
{% block content %}
 <div >
 <form  action="{% url 'list' %}" method="post">
<div class="form-inline">
                        {% csrf_token %}
                          https://github.com <input class="form-control" type="text" placeholder="username" aria-label="Username" name="username">


</div>

                           <button class="btn btn-outline-success" type="submit">get repositories ></button>
                        </form>
 </div>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
