{% extends "base.html" %}
{% block header %}
         {% include "header.html" %}
{% endblock header %}

{% block content %}

<h1>Add profile</h1>
{% if msg_erreur %}<p><strong>{{ msg_erreur }}:
 {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}

</strong></p>{% endif %}

<form method="post" action="{% url 'register' %}">
  {% csrf_token %}
  {{ form.as_p }}

  <button class="btn btn-outline-warning" type="submit">Save changes</button>
</form>
{% endblock %}
{% block footer %}
{% endblock %}