 {% extends "base.html" %}

  {% block header %}
     <ul class="breadcrumb">
         <li><a class="navbar-brand" >githubstars</a></li>
         <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
         <li><a href="{% url 'list' %}">Repositories</a> <span class="divider">/</span></li>

    </ul>
 {% endblock %}
{% block content %}
    <form  method="GET" action="{% url 'search' %}">
    {% csrf_token %}
    <input type="text" name="search" placeholder="Search By Tag" />
                               <button class="btn btn-outline-success" type="submit">search</button>

</form>

    <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Repository</td>
                    <td>Description</td>
                    <td>Language</td>
                    <td>Tags</td>
                    <td></td>
                </tr>
                  {% for p in list %}
                <tr>

                <ul>

                    <td>{{ p.name }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ p.language}}</td>
                 <td>
                     {% for d in p.tags %}
                   {{ d.name }},
                         {% endfor %}</td>
                <td><a href="{% url 'editPage' %}?reponame={{ p.name }}">edit</a></td>

                </ul>




{#                    <td>#}
{##}
{#                         <a href="{% url 'edit' %}">#}
{#                            <button type="button" class="btn btn-info">Edit</button>#}
{#                         </a>#}
{##}
{#                    </td>#}

                </tr>
                  {% endfor %}

        </tbody>
    </table>
<script language="javascript" type="text/javascript">
<!--
function popitup(url) {
    var newwindow = window.open(url, '{{title}}', 'height=200,width=150');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>


{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}
